:root {
    --color-primary: #ff2525;
    --color-primary-hover: #ff4646;
    --color-secondary: #ff1e00cc;
    --color-secondary-hover: #fc452dcc;
    --color-accent: #003cff;
    --color-accent-hover: #194fff;
    --color-headings: #5a0606;
    --color-body: #918ca4;
    --color-pearl: #F8F6F0;
}

/*typography*/

html {
    /* 62.5% = 10px*/

    font-size: 62.5%;
}

body {
    font-family: Inter, Arial, Arial, Helvetica, sans-serif;
    color: var(--color-body);
    font-size: 2.4rem;
    line-height: 1.5;
}

h1,
h2,
h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
}

h1 {
    /* 1x html element*/
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h4 {
        font-size: 2.4rem;
    }
}

/*links*/
a {
    text-decoration: none;
}

.link-arrow {
    color: var(--color-accent);
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.link-arrow::after {
    content: '-->';
    margin-left: 5px;
    transition: margin 0.15s;
}

.link-arrow:hover::after {
    margin-left: 10px;
}

@media screen and (min-wdith: 1024px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}

/* Badges */
.badge {
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    white-space: nowrap;
}

.badge--primary {
    background: var(--color-primary);
    color: var(--color-pearl);
}

.badge--secondary {
    background: var(--color-secondary);
    color: var(--color-pearl);
}

.badge--small {
    font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
    .badge {
        font-size: 1.5rem;
    }
    .badge--small {
        font-size: 1.2rem;
    }
}

/* Lists */
.list {
    list-style: none;
    padding-left: 0;
    color: var(--color-headings);
}

.list--inline .list__item{
    display: inline-block;
    margin-right: 2rem;
}

.list--tick {
    list-style-image: url(../images/tick.svg);
    padding-left: 3rem;
}

.list--tick .list__item {
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
    .list--tick .list__item {
        padding-left: 0;
    }
}

/* Icons */
.icon {
    width: 40px;
    height: 40px;
}

.icon--primary {
    fill: var(--color-primary);
}

.icon--secondary {
    fill: var(--color-secondary);
}

.icon-container {
    background: #f3f9fa;
    width: 64px;
    height: 64px;
    border-radius:100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* Buttons */

.btn {
    border-radius: 4rem;
    border:0;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 0;
    outline: 0;
    padding: 2rem 4vw;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}


.btn .icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    vertical-align: middle;
}

.btn--primary {
    background: var(--color-primary);
    color: var(--color-pearl);
}
.btn--primary:hover {
    background: var(--color-primary-hover);
    transition: ease-in-out .4s;
}

.btn--secondary {
    background: var(--color-secondary);
    color: var(--color-pearl);
}

.btn--secondary:hover {
    background: var(--color-secondary-hover);
    transition: ease-in-out .4s;
}

.btn--accent {
    background: var(--color-accent);
    color: var(--color-pearl);
}

.btn--accent:hover {
    background: var(--color-accent-hover);
    transition: ease-in-out .4s;
}