<section class="block block--dark block--skewed-left hero">
    <div class="container grid grid--cols-2">
        <header class="block__header hero__content">
            <div class="hero__content">
                <h1 class="block__heading">Midland's Premium Body Shop</h1>
                <p class="hero__tagline">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus culpa
                    expedita inventore!</p>
                <a href="" class="btn btn--accent btn--stretched">Call for Free Quotes!</a>
            </div>
        </header>
        <img class="hero__image" src="images/banner.jpg" alt="Guy">
    </div>
</section>