<header>
    <nav class="nav collapsible">
      <a class="nav__brand" href="/">Protech Body Works</a>
      <!-- <img src="images/logo.svg" alt="" /> -->
      <!-- <svg class="icon icon--white nav__toggler">
        <use xlink:href="images/sprite.svg#menu"></use>
      </svg> -->
      <div class="nav__toggler">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul class="list nav__list collapsible__content">
        <li class="nav__item"><a href="#">Home</a></li>
        <li class="nav__item"><a href="#">Services</a></li>
        <li class="nav__item"><a href="#">Our Work</a></li>
        <li class="nav__item"><a href="#">About</a></li>
        <li class="nav__item"><a href="#">Contact</a></li>
      </ul>
    </nav>
</header>